html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif; 
}

#container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,#000dff 0,#70b6da);
}

/* Calculator frame */
#calc__container {
    background-color: #ececec;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
    padding: 25px 8px;
    box-shadow: 0px 8px 15px 5px rgba(71, 8, 77, 0.3);
}

/* Calculator Screen */
#display__operation {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
    color: #36bbe3;
    margin: 15px 0 25px;
    padding: 5px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1e1e1e;
    border: 2px solid #101010;
}

.current-value {
    font-size: 38px;
}

.previous-value {
    font-size: 20px;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

/* Number Buttons */
.number {
    background-color: #7d91f7;
    color: #065e7b;
}

.number:hover {
    background-color: #bfe4ff;
    border: 2px solid #bfe4ff;
}

/* Equal Button */
.equals {
    background-color: #f4ca26;
    color: #664800;
}

.equals:hover {
    background-color: #fbdb5f;
    border: 2px solid #fbdb5f;
}

/* Operator Buttons */
.operator {
    background-color: #7aa8e8;
    color: #40025b;
}

.operator:hover {
    background-color: #88e975;
    border: 2px solid #88e975;
}

/* All Clear, Change Number Sign and Percentage Button */
.all__clear,
.change__sign,
.percentage {
    background-color: #a70a0a;
    color: #02185b;
}

.all__clear:hover,
.change__sign:hover,
.percentage:hover {
    background-color: #53cdf2;
    border: 2px solid #53cdf2;
}

/* Clear one space and Decimal Buttons */
.clear,
.decimal {
    background-color: #1fe9b0;
    color: #713636;
}

.clear:hover,
.decimal:hover {
    background-color: #ffe2d5;
    border: 2px solid #ffe2d5;
}

/* Media Query */
@media only screen and (max-width: 450px) {
    #calc__container {
        display: grid;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: minmax(80px, auto) repeat(5, 60px);
    }
    .current-value {
        font-size: 30px;
    }
    .previous-value {
        font-size: 16px;
    }
    button {
        font-size: 25px;
    }
}